*{
    margin: 0;
    padding: 0;
}
/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

.section{
    padding-block: 2em;
}
.section .skill-headline{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.container{
    width: 100%;
    position: relative;
}
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    /* padding: 20px; */
    
}
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}


.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    
    height: 250px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.project-box .certificate-name span{
    font-size: 20px;

}
.project-box:hover span{
    color: white;
}

.project-box .certificate-name{
    font-size: 18px;
    position: relative;
    z-index: 2;
}

.project-box img{
    /* height: 100px;
    width: 150px; */
    height: 60%;
    width: 70%;
    z-index: 2;
    border-radius: 20px;
}
.project-box label a i{
    color: rgb(73, 75, 84);
    margin: 10px;
    
     font-size: 28px; 
    

}
.project-box a img{
    width: 20%;
    height: auto;
    margin: 30px;
    position: relative;
    z-index: 2;
}
.project-box label a img{
    height: 30px;
    width: 30px;
}
.project-box label a img:hover{
    font-size: 1.05rem;
}
.project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--second-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}

.project-box:hover.project-box::after,
.education-box:hover.education-box::after,  /* new line */
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--color-white);
    z-index: 2;
}
.project-box img:hover{
    z-index: 20;
}

@media only screen and (max-width: 540px){
    
    .project-box{
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {    
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }

}