*{
    margin: 0;
    padding: 0;
}

:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}
body {
    overflow-x: hidden;
}
/* basic body color  */
body{
    background: var(--body-color);
}

.top-header{
    text-align: center;
    margin-bottom: 1em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    /* margin-bottom: 10px; */
}
.top-header span{
    color: #999;
}
.section{
    padding: 2em 2em;
}


.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 20px 70px;
    /* padding-inline: 20px; */
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}
.about-info h3{
    font-size: 19px;
    font-weight: 600;
}

.about-info p{
    text-align: center;
    font-size: 15px;
    color: #777;
}

.about-btn a{
    /* position: absolute; */
    text-decoration: none;
    /* right: 20px; */
    margin-top: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}
.about-btn a:hover{
    background: var(--first-color-hover);
}

.about-info ul li{
    margin: 10px;
    font-size: 16;
}


.social_icons{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1.5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icon:hover{
    /* color: var(--first-color); */
    color: rgb(3, 3, 211);
    box-shadow: 10px 10px 30px rgba(1, 146, 250, 0.8);    
}
.icon:hover i{
    font-size: 1.5em; /* Adjust the size as needed */
    transition: font-size 0.3s ease-in-out ;   
}
.project-box1{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 150px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.about-info .intro-section{
    padding: 20px;
}

.github-readme a video{
    width: 100%;
    height: 60%;
    object-fit: contain;
}
.project-box1 a {
    text-decoration: none;
}








@media (max-width: 768px){
    .project-box1{
        width: 70%;
        height: 80%;
    }
    .social_icons{
        display: grid;
        justify-items: center;
    }
}